.special{
    width: 200px;
    height: 200px;
    background-color: yellowgreen;
    border: 3px solid red;
    transition: transform 2s;
    margin: auto;
}
.special:hover{
    transform: rotateY(320deg);
}