body{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 251px;
    box-sizing: border-box;
}
.main{
    width: 105px;
    border: 2px solid;
    height: 172px;
    display: grid;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.red{
    width: 51px;
    height: 51px;
    border-radius: 50%;
    background-color: red;
}
.yellow{
    width: 51px;
    height: 51px;
    border-radius: 50%;
    background-color: yellow;
}
.green{
    width: 51px;
    height: 51px;
    border-radius: 50%;
    background-color: green;
}