.loginContainer{
    display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
    }
.loginForm{
    border: 2px solid blueviolet;
    padding: 20px;
    width: 360px;
    border-radius: 5px;
}