<!-- <p>nav works!</p> -->
 <nav>
    <a href="" routerLink="item" class="btn btn-primary btn-sm">Item</a>&nbsp;
    <a href="" routerLink="parent" class="btn btn-primary btn-sm">parent</a>&nbsp;
    <a href="" routerLink="databinding" class="btn btn-primary btn-sm">DataBinding</a>&nbsp;
    <a href="" routerLink="angform" class="btn btn-primary btn-sm">AngForm</a>&nbsp;
    <a href="" routerLink="dash" class="btn btn-primary btn-sm">ProductDash</a>
    <!-- <a href="" routerLink="logout" class="btn btn-danger btn-sm">Log Out</a> -->
    <!-- <a href="" routerLink="parent" class="btn btn-primary btn-sm">parent</a> -->
 </nav>
